@* Giống BookShelf: dropdown tài khoản + đăng xuất qua Account/Logout (POST). *@
<ul class="navbar-nav align-items-center me-2">
    <li class="nav-item d-flex align-items-center py-1">
        @await Component.InvokeAsync("UserMenu")
    </li>
</ul>
