<div class="dropdown c-user-dropdown">
    <button class="c-avatar c-avatar--btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Tài khoản">
        ?
    </button>
    <ul class="dropdown-menu dropdown-menu-end c-dropdown-menu shadow border">
        <li>
            <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Login">
                <i class="bi bi-box-arrow-in-right me-2"></i>Đăng nhập
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Register">
                <i class="bi bi-person-plus me-2"></i>Đăng ký
            </a>
        </li>
    </ul>
</div>
